nav {
    background-color: white ;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

li {
    display: inline;
}

a {
    color: blue;
    text-decoration: none;
    padding: 10px;
}

button {
    background-color: black;
    color: white;
    border: 5px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.middlePlace {
    margin-right: auto;
    margin-left: auto;
}

.endP {
    margin-left: auto;
    color: white;
}
